body {
    text-align: center;
    background-color: #d5d8dc;
}

#wrapper {
    display: inline-block;
}

#game-area {
    display: grid;
    grid-template-columns: repeat(9, 55px);
    grid-template-rows: repeat(9, 55px);
    gap: 15px 15px;
}

.cell {
    text-align: center;
    line-height: 55px;
    font-size: 24px;
    border-radius: 14px;
}

.fixed {
    background: #d5d8dc;
    box-shadow: 5px 5px 18px #919396, -5px -5px 18px #ffffff;
}

.empty {
    background: #fdfefe;
    box-shadow: 5px 5px 18px #acadad, -5px -5px 18px #ffffff;
}

.final {
    background: #82ca9d;
    box-shadow: 5px 5px 18px #58896b, -5px -5px 18px #acffcf;
}

.filled {
    background: #fff79a;
    box-shadow: 5px 5px 18px #ada869, -5px -5px 18px #ffffcb;
}

.wrong {
    background: #f7977a;
    box-shadow: 5px 5px 18px #a86753, -5px -5px 18px #ffc7a1;
}

.selected {
    background: #00d3da;
    box-shadow: 5px 5px 18px #008f94, -5px -5px 18px #00ffff;
}

.highlight-area {
    border: 1px #0776ba solid;
}

.highlight-duplicate {
    border: 1px #ba6707 solid;
}

.py20 {
    padding: 20px 0;
}
